.googleButton {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.SubmitButton {
    width: 100%;
    border-radius: 1rem;
    /* padding: 1rem 2rem; */
    /* height: 4rem; */
}

.SubmitButton-PrimaryColor {
    background-color: var(--secondary-color);
}